@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* S2D colour scheme */
$raisin-black: hsla(240, 11%, 11%, 1);
$raisin-grey: hsla(240, 11%, 21%, 1);
$mountain-meadow: hsla(167, 77%, 43%, 1);
$rebecca-purple: hsla(268, 57%, 45%, 1);
$maximum-yellow-red: hsla(40, 88%, 60%, 1);
$up-maroon: hsla(1, 71%, 28%, 1);
$platinum: hsla(240, 6%, 93%, 1);
$platinum-trans: hsla(240, 30%, 43%, 0.5);
$dark-liver: hsl(240, 4.65%, 16.86%);

$theme-colors: (
	"primary": $rebecca-purple,
	"secondary": $maximum-yellow-red,
	"danger": $up-maroon,
);

/* Enable desired Bootstrap features */
$enable-gradients: true;
$enable-transitions: true;

// Body
$body-color: $platinum;

// Typography
$font-family-base: "Lato", Verdana;
$enable-responsive-font-sizes: true;
$link-color: $mountain-meadow;

// Jumbotron
$jumbotron-color: $raisin-black;

@import "../../../node_modules/bootstrap/scss/bootstrap";

/* Background Styling */

body {
	letter-spacing: 0.4px;
	background: repeating-linear-gradient(-45deg, #9726afc4, #38186778 15px, #264ca6 15px, #040405 30px),
		linear-gradient(45deg, white, #959595);
	min-height: 100vh;
}

.site-container {
	margin: 7vh 7vw 7vh 7vw;
	background: linear-gradient(35deg, #2c2c34, #30303c 80%);
	border-radius: 10px 10px 1% 1%;
	box-shadow: 0px 2px 3px 3px rgba(28, 1, 1, 0.5);
}

.page-contents {
	padding: 0px 30px 30px 30px;
}

h1 {
	text-align: center;
}

.jumbotron {
	background: linear-gradient(-35deg, #526ae824, #00578bd1 80%);
	box-shadow: inset -1px 0px 10px 5px #000000ab;
	width: 80%;

	h1 {
		font-family: "Fugaz One", cursive;
		text-shadow: 1.5px 1px 0px #deb768;
		text-transform: uppercase;
		rotate: -2deg;
		font-size: 330%;
		color: #ad0625;
		letter-spacing: 1.3px;
		text-align: left;
	}

	p {
		font-size: 120%;
		color: #c2c2c2;
		text-align: right;
		position: relative;
		top: 5vh;
		mix-blend-mode: screen;
		width: 90%;
	}
}

/* Nav Styling */

.navbar {
	background: linear-gradient(
		0deg,
		hsl(250.9, 13.6%, 15.9%),
		hsl(262.5, 6.9%, 22.7%) 20%,
		hsl(240, 18.6%, 22.2%) 60%
	);
	min-height: 100px;
}

.navbar-expand {
	flex-direction: column;
	width: 100%;

	.navbar-collapse {
		width: 100%;
	}

	.navbar-brand {
		font-family: 'Righteous', cursive;
		letter-spacing: 1.5px;
		font-size: 200%;
		text-shadow: 0px 0px 6px hsl(306.1, 20.5%, 46.9%);
	}
}

.navbar-collapse {
	margin-top: -50px;
}

/* Element Styling */

p {
	margin-bottom: 3rem;
}

a {
	color: $mountain-meadow;
}

.card {
	p {
		margin-bottom: 1rem;
	}

	margin-bottom: 1rem;
	margin-top: 1rem;
}

.btn {
	min-width: 100px;
	margin: 5px 10px 5px 10px;

	.file-upload {
		min-width: 200px;
	}
}

.btn-container {
	display: inline-block;	
	.btn-nomargin {
		margin: 0;
	}
	
	a {
		padding: 0;
	}
}

hr {
	border-top: 1px double rgb(122, 122, 122);
}

.search-buttons {
	height: 100px;
}

.progress {
	color: $raisin-black;
}

.parse-results {
	max-width: 500px;
}

.additions-table {
	max-width: 550px;
}

.alert {
	max-width: 600px;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

.img-thumbnail {
	width: 140px;
}

.checkbox-cell {
	vertical-align: middle;
	text-align: center;
}

input.enlarged-checkbox {
	transform: scale(1.5);
}
