@import
	url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "/webjars/bootstrap/4.5.3/css/bootstrap.min.css";

body {
	font-family: 'Lato', Verdana;
}

.img-thumbnail {
	width: 140px;
}

.checkbox-cell {
	vertical-align: middle !important;
	text-align: center;
}

input.enlarged-checkbox {
  transform: scale(1.5);
}