<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav_bar()"
	class="navbar navbar-expand navbar-dark mb-4 shadow-lg sticky-top rounded-lg">
	<a class="navbar-brand mx-auto" href="#"><span
		th:replace="fragments/strings:: site_name"></span></a>
	<div class="collapse navbar-collapse align-top" id="navbarText">
		<ul class="navbar-nav mx-auto w-100 row">
			<li class="nav-item col-6"><a class="nav-link" href="/"><button
						class="btn btn-primary btn-sm">Home</button> </a></li>
			<li class="nav-item col-6 text-right"><div th:replace="fragments/buttons:: exit_btn"></div></li>
		</ul>
	</div>
</nav>