<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/htmlHead:: common_header(subtitle='JSON Error')" />
<body>
	<div class="container-fluid">
		<div class="site-container">
			<div th:replace="fragments/navBar:: nav_bar()"></div>
			<div class="page-contents">
				<h1>JSON Error</h1>
				<p>
					I/O Status - <span th:text="${ioSuccess}">PARAMETER NOT
						FOUND</span>
				</p>
				<p>
					JSON Parse Status - <span th:text="${parseSuccess}">PARAMETER
						NOT FOUND</span>
				</p>
			</div>
		</div>
	</div>
</body>
</html>