<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead:: common_header(subtitle='Error')" />
<body>
	<div class="container-fluid">
		<div class="site-container">
			<div th:replace="fragments/navBar:: nav_bar()"></div>
			<div class="page-contents">
				<h1>Error.</h1>
				<p class="mt-4 mb-3 ml-2">An error occurred. Please copy the below &amp; <a href="mailto:oli_kester@zoho.com" target="_blank">report this to the administrator via email.</a> </p>
				<table class="table table-dark table-striped table-bordered mx-auto">
					<tr>
						<td>Date</td>
						<td th:text="${timestamp}" />
					</tr>
					<tr>
						<td>Path</td>
						<td th:text="${path}" />
					</tr>
					<tr>
						<td>Error</td>
						<td th:text="${error}" />
					</tr>
					<tr>
						<td>Status</td>
						<td th:text="${status}" />
					</tr>
					<tr>
						<td>Message</td>
						<td th:text="${message}" />
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>