<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/htmlHead:: common_header(subtitle='Finished')" />
<body>
	<div class="container-fluid">
		<h1 class="pb-3 pt-3">Finished</h1>
		<p>
			We have finished adding the Releases to your Discogs wantlist. The
			results are displayed below, and you can head over to Discogs to
			check <a href="https://www.discogs.com/mywantlist" target="_blank">your
				Discogs wantlist</a>.
		</p>
		<div class="row">
			<table class="table table-dark table-bordered col-5 mx-auto">
				<tr>
					<td class="text-right">Wantlist additions send to Discogs</td>
					<td th:text="${numReleases}"></td>
				</tr>
				<tr>
					<td class="text-right">Releases added successfully</td>
					<td th:text="${numReleasesAdded}"></td>
				</tr>
				<tr>
					<td class="text-right">Failed additions</td>
					<td th:text="${numFailedReleases}"></td>
				</tr>
			</table>
		</div>
		<div>
			<p>You can find the releases that failed to add listed below -</p>
		</div>
		<div class="row">
			<table
				class="table table-dark table-striped table-bordered col-8 mx-auto">
				<tbody>
					<tr th:each="release : ${releaseFailedAdditions}">
						<td>
							<div class="d-flex align-items-center">
								<div class="release-image mr-2">
									<img class="img-thumbnail"
										th:alt="'Image for - ' + ${release.getTitle()}"
										th:src="${release.getThumbnailPath()}">
								</div>
								<div class="tag-data ml-2">
									<div class="release-title font-weight-bold"
										th:text="${release.getTitle()}"></div>
									<span class="release-format-desc"
										th:text="${release.getFormatDesc()} + ' '"></span><span
										class="release-format-type"
										th:text="${release.getFormatType()}"></span>
									<div>
										<span class="release-country"
											th:text="${release.getCountry()} + ' - '"></span> <span
											class="release-year" th:text="${release.getReleaseYear()}"></span>
									</div>
									<div class="release-label" th:text="${release.getLabel()}"></div>
									<span data-toggle="tooltip"
										title="How many users on Discogs have this Release in their collection. "><em>Popularity
											-</em></span> <span class="release-popularity"
										th:text="${release.getPopularity()}"></span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<p>Click here to export your unmatched Shazam tags to a CSV file
				-</p>
			<a href="csvExport" class="badge badge-primary">Export CSV</a>
		</div>
		<div>
			<p>
				Click the link below to delete all your data from <span
					th:replace="fragments/strings:: site_name"></span>
			</p>
			<a href="exit" class="badge badge-danger">Delete Data &amp; Exit</a>
		</div>
	</div>
</body>
</html>