<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead:: common_header(subtitle='Start')"/>
<body>
	<div class="jumbotron">
		<h1>Welcome to the <span th:replace="fragments/strings:: site_name"></span> tool. </h1>
		<p>Use this to import all of your Shazamed tracks into a Discogs list. </p>
	</div>
	<div class="container">
		<p>Follow this video to get your JSON file of Shazam tracks - </p>
		
		<p>---- VIDEO HERE ----</p>
		<form method="POST" enctype="multipart/form-data" action="/">
			<p>Upload your JSON file below - </p>
		    <input type="file" name="shazam-json-file" required/>
		    <input type="submit" value="Upload"/>
		</form>	
	</div>
</body>
</html>